.navbar__shipping{
    margin-top: 60px;
    position: relative;
}

.navbar__shipping svg {
    position: absolute;
    bottom: 0px;
}

.navbar__shipping-count {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    padding: 2px;
    bottom: 50px;
    left: 30px;
}

.navbar__shipping svg{
    height: 40px;
    width: 40px;
}