.navbar__selected {
    position: relative;
}
.navbar__selected svg {
    position: absolute;
    bottom: 8px;
}

.navbar__selected-count {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    padding: 2px;
    bottom: 50px;
    left: 7px;

}