.cart-items {
    margin: 100px;
    padding-left: 50px;
    padding-bottom: 40px;
    text-align: center;
    border: 4px solid black;
}

.cart-items-header{
    font-weight: 700;
    font-size: 30px;
    padding: 40px 40px;
    color: black;
}

.cart-item {
    background-color: white;
    position: relative;
    width: 130px;
    height: 130px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;

}

.cart-items-delete-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.cart-items-img{
    padding-top: 10px;
    width: 40px;
    height: 40px;
}

.cart-items-name {
    text-transform: uppercase;
    font-size: 13px;
    margin: 10px 0;
}

.cart-items-cost {
    font-size: 10px;
    margin: 0;
}